<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.casataiwan.android.lotto"
    android:theme="@style/LottoTheme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.NoActionBar" >

            <!-- Application Starting Point -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabMainActivity"
            android:label="@string/title_activity_tab_main"
            android:screenOrientation="portrait"
            android:theme="@style/LottoTheme.Styled" >
        </activity>
        <activity
            android:name=".NumberChooserActivity"
            android:label="@string/title_activity_number_chooser"
            android:screenOrientation="portrait"
            android:theme="@style/LottoTheme.Styled" >
        </activity>
    </application>

</manifest>